.page {
  padding-top: 0.3125rem;
  padding-left: 0.3125rem;
}

.header {
  height: 53.4rem;
  width: 99.1%;
  background: url(images/header-bg.jpg)50%  no-repeat; /* Добавляем фон */
  background-size: cover;


}

.header__cell{
  padding-left: 4.15%;
  padding-top: 4.15%;
  padding-right: 4.16%;
  margin-bottom: 4.5rem;

}

hr {
  color: white;
  width: 100%;
  margin-top: 4.8rem;
  opacity: 0.2;
  margin-bottom: 144px;
}


.menu__item{
  position: absolute;
  display: inline;
  color: white;
  position:relative;
  top: -1px;
  left:-70%;
  margin:0 1.7em;
  letter-spacing: 1px;
  text-align: center;
}


.menu {
  list-style:none;
  position: absolute;
  left:50%;
  float:left;
  font-family: 'Montserrat', sans-serif;
  font-size: 6.5pt;
  text-transform: uppercase;
  font-weight: bold;

}

.header__search {
  float: right;
  margin-right: 1.57rem;
  width: 16px;
  margin-top: 5px;

}
.header__poloski{
  float: right;
  width: 23px;
  margin-top: 7px;
}
.header__logo{
  width: 26px;
  float: left;
}
.header__text{
margin-bottom: 62px;

}


.header__text--caption {
  text-align:center;
  font:96px 'Playfair Display', serif;
  color: white;
  margin-right: 10px;
  letter-spacing: -2px;
  margin-bottom: -1%;


}

.header__text--title{
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  line-height: 1.7;




}

.header-icon{
  display: table;
  margin: 0 auto;
  z-index: 1;
}

.header-icon__button {
  display: table-cell;
  width: 18.7em;
  margin-bottom: 23px;

}


.header-icon__play {
  height: 54px;
  width: 54px;
  display: table-cell;
  margin: 0 auto;

}

.content{
  display: table;
  border-top: 13px solid white;
  width: 99.2%;
  height: 20.85rem;
  z-index: 0;
}

.content__block-1 {
  width: 24.8%;
  display: table-cell;
  background: url(images/footer_icon.jpg) no-repeat;
  background-size: cover;
}

.content__block-2 {
  width: 24.8%;
  display: table-cell;
  background: url(images/footer_icon2.jpg) no-repeat;
  background-size: cover;
}

.content__block-3 {
  width: 24.8%;
  display: table-cell;
  background: url(images/footer_icon3.jpg) no-repeat;
  background-size: cover;
}

.content__block-4 {
  width: 24.8%;
  display: table-cell;
  background: url(images/footer_icon4.jpg) no-repeat;
  background-size: cover;
}
*{border: 1px solid red;}
.content__text{
padding-top: 72%;
text-align: center;
align-items: center;
align-content: center;

}

.content__text--caption-1{
  font-family: 'Montserrat', sans-serif;
  font-size: 8.4pt;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;

}

.content__text--title-1{
  font-family: 'Georgia', sans-serif;
  font-size: 9pt;
  color: white;
  font-style: italic;
}

.content__text--caption-2{
  font-family: 'Montserrat', sans-serif;
  font-size: 8.4pt;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;

}

.content__text--title-2{
  font-family: 'Georgia', sans-serif;
  font-size: 9pt;
  color: white;
  font-style: italic;
}

.content__text--caption-3{
  font-family: 'Montserrat', sans-serif;
  font-size: 8.4pt;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;

}

.content__text--title-3{
  font-family: 'Georgia', sans-serif;
  font-size: 9pt;
  color: white;
  font-style: italic;

}
.content__text--caption-4{
  font-family: 'Montserrat', sans-serif;
  font-size: 8.4pt;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.content__text--title-4{
  font-family: 'Georgia', sans-serif;
  font-size: 9pt;
  color: white;
  font-style: italic;

}

.section{
  margin: 0 auto;
  height: 16rem;
  width: 85%;
  display: table;
  text-align: left;
}

.section__text-1{
  display: table-cell;
  padding-top: 5%;
  width: 25%;
}

.section__text-2{
  display: table-cell;
  width: 25%;
}

.section__text-3{
  display: table-cell;
  width: 25%;
}

.section__text-4{
  display: table-cell;
  width: 25%;
}

.section__text--list-1{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.section__text--list-2{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.section__text--list-3{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.section__text--list-4{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.section__text--caption{
  font-family: 'Montserrat', sans-serif;
  font-size: 7pt;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 5%;
}
.section__text--title{
  font-family: 'Georgia', sans-serif;
  font-size: 7.5pt;
  color: black;
  font-style: italic;
  line-height: 15px;
}
.footer{
  width: 99.1%;
  height: 2.3rem;
  background-color: black;
  clear: both;
  text-align: center;
  font-family: 'Georgia', sans-serif;
  font-size: 6pt;
  color: white;
  font-style: italic;
}
.footer__text{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}
